# Git
.git
.gitignore
.github

# Node.js
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.npm
.yarn

# Build
build
dist

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode
.idea
*.sublime-*
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.log

# Testing
coverage
.nyc_output
__tests__
__mocks__

# Documentation
README.md
LICENSE
docs
*.md

# Environment variables
.env
.env.*
!.env.example
